{% extends 'other_template/base.html' %}

{% block title %}
    <title>Chính sách - VietHomeAir</title>
{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Các chính sách khác</li>
{% endblock breadcrumb %}
{% block content %}
    <section class="container mt-4 mb-5">
        <div class="background-container rounded p-4">
            <h5 class="main-color">Quy định về chính sách</h5>
            <div>
                <p>Các chính sách hiện tại đang được cập nhật liên tục, khi một chính sách mới được cập nhật,
                    các chính sách cũ sẽ vẫn có hiệu lực cho đến khi có thông báo cập nhật hoặc thay đổi nội dung chính
                    sách
                    trên trang này</p>
            </div>
        </div>
        <hr/>
    </section>

    <section class="container mt-4 mb-5">
        <div class="background-container rounded p-4">
            <h2 class="text-center main-color">Chính sách hoàn tiền</h2>
            <div>
                <article>
                    <div>
                    <span>
                        <strong>Lệ phí hoàn trả:</strong>
                        phí hoàn trả sẽ hoàn toàn do <strong>VietHomeAir</strong> chi trả hoàn toàn nếu lỗi đó thuộc về
                        công ty.
                    </span>
                    </div>
                    <div>
                    <span>
                        <strong>Hình thức hoàn trả: </strong> Hoàn lại bằng tiền mặt tại trụ sở của công ty
                    </span>
                    </div>

                    <h5 class="mt-4">1. Điều kiện áp dụng</h5>
                    <p>Theo các điều khoản và điều kiện được quy định trong Chính sách hoàn tiền này và tạo
                        thành một phần của Điều khoản dịch vụ, <strong>VietHomeAir</strong>
                        đảm bảo quyền lợi của Người dùng bằng cách cho phép gửi yêu cầu hoàn tiền.
                        Thời hạn <strong>VietHomeAir</strong> Đảm Bảo đã được quy định trong Điều khoản của dịch vụ.</p>
                    <p><strong>VietHomeAir</strong> Đảm bảo là một dịch vụ cung cấp bởi <strong>VietHomeAir</strong>,
                        theo yêu
                        cầu của Người dùng, để hỗ trợ Người dùng trong việc giải quyết các xung đột có thể phát sinh
                        trong quá trình
                        giao dịch. Người dùng có thể liên hệ với nhau để thỏa thuận về việc giải quyết tranh chấp của họ
                        hoặc báo
                        cáo lên chính quyền địa phương có liên quan nhờ hỗ trợ họ trong việc giải quyết bất kỳ tranh
                        chấp xảy ra
                        trước, trong hoặc sau khi sử dụng <strong>VietHomeAir</strong> đảm bảo.</p>
                    <h5> 2. Điều kiện hoàn tiền</h5>
                    <p>Người dùng đồng ý rằng cô ấy/anh ấy chỉ có thể yêu cầu và hoàn tiền trong các trường hợp
                        sau:</p>
                    <ul>
                        <li>Người dùng đã thanh toán nhưng không được sử dụng dịch vụ đúng như mô tả</li>
                        <li>Dịch vụ có dấu hiệu lừa đảo, vi phạm pháp luật</li>
                        <li>Sau khi kiểm tra dịch vụ thực tế có chất lượng quá kém đến mức có quá nhiều yêu cầu hoàn
                            tiền được yêu cầu
                        </li>
                    </ul>
                    <h5>3. Hoàn trả không thông qua dịch vụ</h5>
                    <p>
                        Những trường hợp cần hoàn tiền nếu lỗi không thuộc về công ty hoặc do người dùng trực tiếp giao
                        dịch
                        với chủ dịch vụ sẽ do người yêu cầu hoàn tiền và chủ dịch vụ tự giải quyết dựa theo quy định của
                        dịch vụ
                        được đăng tải
                    </p>
                </article>
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-5">
        <hr/>
        <div class="background-container rounded p-4">
            <h2 class="text-center main-color">Template chính sách</h2>
            <div>
                <h4 class="main-color my-4">I. Hình thức thông tin</h4>
                <p>Các thông tin dưới đây chỉ dùng cho mục đích hiển thị và quy định
                    cách một chính sách được hiển thị và định dạng như thế nào. Chính sách này được sử dụng
                    cho mục đích phát triển và tăng tính thẩm mỹ của trang này.
                </p>
                <p>Người dùng không cần phải đọc những thông tin này, 
                    thông tin này sẽ xóa sau khi quá trình phát triển hoàn tất.</p>
                <h4 class="main-color my-4">II. Phần thông tin</h4>
                <p><strong>1. Tiêu đề phụ</strong></p>
                <p>Maecenas fermentum ex mi, ac mollis augue laoreet vel. Morbi mi velit, consectetur a nisl sit amet,
                    ultricies efficitur sapien. Maecenas fermentum, ipsum quis finibus interdum, augue orci semper
                    risus, vitae eleifend tellus neque quis enim. Fusce ac malesuada orci. Aenean faucibus ex nec magna
                    auctor, sed malesuada nibh elementum. Sed vulputate est at molestie sodales. Praesent condimentum
                    felis vel risus maximus, in tristique elit viverra. Curabitur vehicula vulputate volutpat. Quisque
                    dignissim magna id ex suscipit, quis convallis metus accumsan. Nam fermentum laoreet nunc, a viverra
                    nisl euismod nec. Nulla vel lectus nunc. Mauris rhoncus, nibh et finibus volutpat, ligula dui
                    pulvinar lacus, vel ornare lectus turpis non justo. Vestibulum et tristique odio. Sed tempus orci id
                    risus elementum blandit. Aliquam fermentum luctus orci, ac fermentum libero consequat non. Donec
                    viverra laoreet elit sollicitudin rhoncus.
                </p><br>
                <p><strong>2. Tiêu đề phụ</strong></p>
                <p>
                    Suspendisse potenti. Curabitur quis lorem sed sapien luctus tristique sed vitae turpis. Nullam non
                    semper velit. Pellentesque elementum est et nibh posuere auctor. Aliquam porta, quam quis commodo
                    congue, neque dui tempor lacus, et vestibulum sem est sit amet enim. Maecenas non varius neque.
                    Proin ut risus iaculis, maximus ante a, sagittis ex. Phasellus placerat eros vitae tortor commodo,
                    commodo placerat augue condimentum.
                </p><br>
                <p><strong>3. Tiêu đề phụ</strong></p>
                <p>
                    Integer ornare at nisi non sollicitudin. Nunc dictum orci a tristique lacinia. Curabitur mattis ante
                    et ante pulvinar, non ullamcorper leo accumsan. Vestibulum laoreet molestie nulla eu dictum. Nam vel
                    pellentesque velit, at volutpat nisi. Fusce tincidunt, sapien ut accumsan vestibulum, nulla nunc
                    euismod lorem, vitae euismod nisl risus et lacus. Ut pulvinar nunc ac tortor ullamcorper, a
                    tristique dolor aliquam. Pellentesque viverra in dolor sed molestie. Donec sit amet libero ornare
                    nunc scelerisque consequat ut sed odio. Sed vehicula mi vel ligula porttitor pharetra. Mauris felis
                    augue, porta commodo nisl eu, mollis tempus ligula. Etiam auctor tellus nec lorem volutpat, sit amet
                    posuere eros scelerisque.
                </p><br>
                <p><strong>4. Tiêu đề phụ</strong></p>
                <p>
                    Aliquam ac urna mattis, mattis quam et, iaculis urna. Cras vel felis dui. Sed lobortis ultricies
                    justo. Maecenas interdum massa sit amet nulla molestie gravida. Ut nisi purus, pellentesque eget
                    lacus eu, tempor mattis ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sed
                    justo pellentesque, imperdiet ex ut, viverra odio. Aenean pharetra placerat dolor eu sagittis. Proin
                    tincidunt accumsan efficitur.
                </p><br>
                <p><strong>5. Tiêu đề phụ</strong></p>
                <p>
                    Aenean pellentesque neque metus, non tempor arcu dignissim mattis. Sed a fermentum libero. Maecenas
                    tristique sollicitudin nibh a consectetur. Aliquam gravida orci ut scelerisque tempus. Sed tempus,
                    mauris et iaculis finibus, magna sapien tincidunt purus, quis tempor nulla quam nec ipsum.
                    Pellentesque finibus ligula ac lorem consectetur, quis placerat nulla pretium. Pellentesque purus
                    ex, vulputate eu ante id, auctor venenatis dui.
                </p><br>
                <p><strong>6. Tiêu đề phụ</strong></p>
                <p>
                    Nam fringilla, purus ac dapibus hendrerit, nibh eros feugiat massa, non venenatis justo ex a dui.
                    Maecenas nibh nisl, aliquet at vestibulum eget, semper et magna. Ut fermentum orci at nisi suscipit
                    ornare. Sed malesuada urna nisl, sagittis suscipit enim rutrum non. Integer egestas in nunc et
                    cursus. Fusce scelerisque quis ante porta euismod. Aenean semper sed ipsum ac tincidunt. Vestibulum
                    mi ex, viverra ut velit non, ullamcorper cursus est. Fusce pellentesque massa vel eleifend
                    facilisis. Proin in ante in mauris posuere tempor id in metus. Vestibulum ultrices tellus ac dapibus
                    ultrices. Cras iaculis, tellus nec vehicula tristique, nisi leo eleifend mi, at sodales erat risus
                    eget nisi. Mauris justo lorem, egestas facilisis blandit id, pharetra sed massa. Praesent rutrum
                    erat dictum, congue justo at, faucibus metus. Vestibulum non quam sed mauris accumsan accumsan.
                </p><br>
                <p><strong>7. Tiêu đề phụ</strong></p>
                <p>
                    Pellentesque finibus porta ex, vitae suscipit orci. Mauris convallis a nisl eu euismod. Curabitur
                    tellus enim, dapibus eget dignissim eget, mattis nec augue. Proin blandit, erat a tristique
                    faucibus, ligula sem porta odio, non viverra nibh mauris sit amet elit. In hac habitasse platea
                    dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea
                    dictumst. Nunc vitae arcu ipsum. Vestibulum vehicula, tortor sed sollicitudin eleifend, dolor purus
                    interdum leo, nec finibus nisi eros a lorem. Nam rutrum, mi et ultricies scelerisque, mi diam porta
                    velit, viverra varius ipsum purus ut metus. Duis hendrerit volutpat sapien auctor dapibus. Mauris
                    congue gravida massa. Cras hendrerit nibh at mi hendrerit lobortis. Proin ut aliquam nunc. Nulla
                    dapibus urna interdum, molestie metus non, dapibus odio. Sed pulvinar erat id ex ultrices iaculis.
                </p><br>
                <p><strong>8. Tiêu đề phụ</strong></p>
                <p>
                    In tristique nisi ut ligula lacinia porttitor. Morbi aliquam suscipit aliquet. Fusce aliquam
                    molestie arcu vel fermentum. Duis congue, leo non venenatis pharetra, tellus erat tristique mauris,
                    ac rhoncus nisi mi vitae dui. Vestibulum finibus elit id purus tristique, vitae fermentum nunc
                    ultrices. Aliquam porttitor vulputate enim pretium aliquet. Nam a ex lorem. Morbi non rhoncus
                    tellus, a feugiat orci. Curabitur ullamcorper augue diam, ut mollis nibh elementum non. Praesent ac
                    lectus eget lorem volutpat fringilla eu id dui. Quisque lacinia a nunc a malesuada. Nulla suscipit
                    magna nec ex maximus, ornare commodo libero facilisis. Nam egestas dolor at malesuada aliquam. Sed
                    felis magna, dapibus vitae iaculis nec, rhoncus ut lacus.
                </p><br>
                <p><strong>9. Tiêu đề phụ</strong></p>
                <p>
                    Maecenas eget lacus ac dui interdum mollis sit amet eget urna. Phasellus ac vulputate dui. Etiam vel
                    euismod enim. Donec ullamcorper ullamcorper leo a lacinia. Aliquam eu sodales magna, et facilisis
                    diam. Donec diam lectus, accumsan in dui ut, sagittis aliquam velit. Nulla a scelerisque urna, ac
                    fringilla metus. Curabitur posuere lorem libero, sit amet varius tortor consectetur eget. Donec quis
                    velit eget ante vehicula feugiat. Morbi rutrum viverra convallis. Ut quis luctus arcu. Donec vitae
                    tempor metus, sit amet blandit velit. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia curae; Nulla ut dapibus tellus.
                </p><br>
                <p><strong>10. Tiêu đề phụ</strong></p>
                <p>
                    Quisque lorem risus, faucibus vel semper non, consequat vel odio. Morbi pellentesque sem lacus, non
                    semper lectus viverra ut. Pellentesque mattis eros id dictum sollicitudin. Praesent a libero at
                    ligula volutpat posuere. Proin pharetra nunc quis pulvinar pellentesque. Suspendisse potenti.
                    Quisque tempor finibus lectus, vel eleifend sem dictum nec. Morbi vel urna ut tellus faucibus
                    vehicula. Integer a velit posuere, blandit enim ac, vestibulum lacus. Phasellus quis volutpat augue.
                    Donec posuere purus eget justo ultrices tempus. Donec malesuada vehicula velit, ac viverra nunc
                    fermentum sit amet.</p>
            </div>
        </div>
    </section>

{% endblock content %}
