{% extends 'other_template/base.html' %}

{% block title %}
    <title>Chính sách - VietHomeAir</title>
{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Các chính sách khác</li>
{% endblock breadcrumb %}
{% block content %}
    <section class="container mt-4 mb-5">
        <div class="background-container rounded p-4">
            <h5 class="main-color">Quy định về chính sách</h5>
            <div>
                <p>Các chính sách hiện tại đang được cập nhật liên tục, khi một chính sách mới được cập nhật,
                    các chính sách cũ sẽ vẫn có hiệu lực cho đến khi có thông báo cập nhật hoặc thay đổi nội dung chính
                    sách
                    trên trang này</p>
            </div>
        </div>
        <hr/>
    </section>

    <section class="container mt-4 mb-5">
        <div class="background-container rounded p-4">
            <h2 class="text-center main-color">Chính sách hoàn tiền</h2>
            <div>
                <article>
                    <div>
                    <span>
                        <strong>Lệ phí hoàn trả:</strong>
                        phí hoàn trả sẽ hoàn toàn do <strong>VietHomeAir</strong> chi trả hoàn toàn nếu lỗi đó thuộc về
                        công ty.
                    </span>
                    </div>
                    <div>
                    <span>
                        <strong>Hình thức hoàn trả: </strong> Hoàn lại bằng tiền mặt tại trụ sở của công ty
                    </span>
                    </div>

                    <h5 class="mt-4">1. Điều kiện áp dụng</h5>
                    <p>Theo các điều khoản và điều kiện được quy định trong Chính sách hoàn tiền này và tạo
                        thành một phần của Điều khoản dịch vụ, <strong>VietHomeAir</strong>
                        đảm bảo quyền lợi của Người dùng bằng cách cho phép gửi yêu cầu hoàn tiền.
                        Thời hạn <strong>VietHomeAir</strong> Đảm Bảo đã được quy định trong Điều khoản của dịch vụ.</p>
                    <p><strong>VietHomeAir</strong> Đảm bảo là một dịch vụ cung cấp bởi <strong>VietHomeAir</strong>,
                        theo yêu
                        cầu của Người dùng, để hỗ trợ Người dùng trong việc giải quyết các xung đột có thể phát sinh
                        trong quá trình
                        giao dịch. Người dùng có thể liên hệ với nhau để thỏa thuận về việc giải quyết tranh chấp của họ
                        hoặc báo
                        cáo lên chính quyền địa phương có liên quan nhờ hỗ trợ họ trong việc giải quyết bất kỳ tranh
                        chấp xảy ra
                        trước, trong hoặc sau khi sử dụng <strong>VietHomeAir</strong> đảm bảo.</p>
                    <h5> 2. Điều kiện hoàn tiền</h5>
                    <p>Người dùng đồng ý rằng cô ấy/anh ấy chỉ có thể yêu cầu và hoàn tiền trong các trường hợp
                        sau:</p>
                    <ul>
                        <li>Người dùng đã thanh toán nhưng không được sử dụng dịch vụ đúng như mô tả</li>
                        <li>Dịch vụ có dấu hiệu lừa đảo, vi phạm pháp luật</li>
                        <li>Sau khi kiểm tra dịch vụ thực tế có chất lượng quá kém đến mức có quá nhiều yêu cầu hoàn
                            tiền được yêu cầu
                        </li>
                    </ul>
                    <h5>3. Hoàn trả không thông qua dịch vụ</h5>
                    <p>
                        Những trường hợp cần hoàn tiền nếu lỗi không thuộc về công ty hoặc do người dùng trực tiếp giao
                        dịch
                        với chủ dịch vụ sẽ do người yêu cầu hoàn tiền và chủ dịch vụ tự giải quyết dựa theo quy định của
                        dịch vụ
                        được đăng tải
                    </p>
                </article>
            </div>
        </div>
    </section>
{% endblock content %}
