{% load static %}
{% block content %}
    <div class="main-form col-5 rounded row p-5 pb-0">
        <h3>Quên mật khẩu</h3>
        <label>
            Nhập email của bạn
            <input required name="email-input" class="my-2 p-2 rounded border-1 d-block w-100" type="email">
        </label>
        <p>Xác thực bạn không phải là người máy</p>
        <div class="row">
            <div class="col"></div>
            <div class="col-6 border border-black border-2 rounded d-flex justify-content-center align-items-center"
                 style="height: 5rem;">
                Demo reCAPTCHA
            </div>
            <div class="col"></div>
        </div>
        <div class="d-flex justify-content-center mt-5 mb-2">
            <button type="submit" class="border-0 px-4 py-2 text-white rounded h5"
                    style="background-color: var(--main-cta-color)">
                Gửi
            </button>
        </div>

        <p class="text-center">Bạn đã có tài khoản??? <a href="/login" class="text-decoration-none">Đăng nhập</a></p>
    </div>
{% endblock content %}
