{% load static %}
{% block content %}
    <div class="main-form col-5 rounded row p-5 pb-0">
        <form action="">
            {% csrf_token %}
            <h3>Quên mật khẩu</h3>
            <label>
                Nhập email của bạn
                <input required name="email-input" class="my-2 p-2 rounded border-1 d-block w-100" type="email">
            </label>
            <div class="d-flex justify-content-center mt-5 mb-2">
                <button id="send-request" class="border-0 px-4 py-2 text-white rounded h5"
                        style="background-color: var(--main-cta-color)">
                    Gửi
                </button>
            </div>
        </form>
        <p class="text-center">Bạn đã có tài khoản??? <a href="/login" class="text-decoration-none">Đăng nhập</a></p>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $("#send-request").click(function () {
            $.ajax({
                url: '/request-forgot-password/',
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCSRFToken()
                },
                data: {
                    email: $('input[name=email-input]').val(),
                },
                success: function (response) {
                    alert("Đã gửi thành công");
                }
            })
        })

        function getCSRFToken() {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === 'csrftoken=') {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock scripts %}