{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static "style/user/reviewed-history.css" %}>
{% endblock stylesheet %}
<div class="h4">Lịch sử đánh giá</div>
<div class="review-list">
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
    <div class="row mt-4 service-card">
        <img src="{% static 'image/product_img5.jpg' %}" alt="" class="col-3">
        <div class="col-4 service-title">
            <div class="row service-name">Cỏ May</div>
            <div class="row mt-5 service-owner">
                <div class="col-4 p-0 m-0 text-left">Chủ nhà:</div>
                <div class="col p-0"><strong>Loan Cute</strong></div>
            </div>
        </div>
        <div class="col-3 pt-4 review-result">
            <div class="text-warning fs-5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <a href="/rooms/sample_room" class="col-2 pt-4 service-details">Chi tiết</a>
    </div>
</div>