{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static "style/user/wishlist.css" %}>
{% endblock stylesheet %}
<div class="h4">Danh sách yêu thích</div>
<div class="service-list container">
    <div class="row mt-4">
        {% for bnb in wishlist %}
        <div class="col p-0 service-item border-0 m-2" onclick="window.location.href='/rooms/{{ bnb.id }}">
            <img src="{{ bnb.thumbnail }}" class="card-img" alt="...">
            <div class="card-body px-1">
                <h5 class="card-title py-2">{{ bnb.name}}</h5>
                <div class="row review-order">
                    <div class=" col-6 d-flex pb-2 mt-2 ">
                        <div class="text-warning">
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class=" ps-2 count-star">{{ bnb.avg_rating }}/5</div>
                    </div>
                    <button class="col-5 order-service">Đặt thuê</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>