{% load static %}
{%  block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static "style/user/user-information.css" %}>
{%  endblock stylesheet %}
<div class="h4">Thông tin người dùng</div>
<div class="row mt-4">
    <h6 class="col-3">Tên người dùng: </h6>
    <input class="col-8" value="{{ userinfo.username}}">
</div>
<div class="row mt-4">
    <h6 class="col-3">Địa chỉ email: </h6>
    <input class="col-8" value="{{ userinfo.email}}">
</div>
<div class="row mt-4">
    <h6 class="col-3">Số điện thoại: </h6>
    <input class="col-8" value="{{ userinfo.phone }}">
</div>
<div class="row mt-4 pe-4">
    <h6 class="col-8"></h6>
    <button class="col-4 edit-confirm">Chỉnh sửa</button>
</div>