{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Về chúng tôi - VietHomeAir</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-3">Về chúng tôi</h2>

        <div>
            <p>Chào mừng bạn đến với VietHomeAir, nền tảng dịch vụ lưu trú BnB (Bed and Breakfast) tại Việt Nam,
            nơi mang đến những trải nghiệm lưu trú độc đáo và đầy cảm hứng. Với sứ mệnh kết nối khách
            du lịch với những không gian nghỉ dưỡng ấm cúng và tiện nghi, VietHomeAir không chỉ cung cấp
            chỗ ở mà còn tạo nên những hành trình đáng nhớ.</p>

            <p>Tại VietHomeAir, chúng tôi tự hào mang đến sự đa dạng trong lựa chọn, từ những căn hộ hiện đại, nhà nghỉ thân thiện cho đến biệt thự sang trọng, phủ khắp các điểm đến du lịch nổi tiếng của Việt Nam. Mỗi không gian lưu trú được thiết kế tỉ mỉ, kết hợp giữa tiện nghi hiện đại và sự gần gũi với văn hóa địa phương, giúp du khách cảm nhận trọn vẹn vẻ đẹp và con người Việt Nam.</p>

            <p>Chúng tôi tin rằng, du lịch không chỉ là hành trình khám phá những vùng đất mới mà còn là cơ hội để kết nối với những giá trị độc đáo. Vì vậy, VietHomeAir luôn nỗ lực mang đến những trải nghiệm cá nhân hóa, đáp ứng mọi nhu cầu và sở thích của khách hàng.</p>

            <p>Dù bạn đang lên kế hoạch cho một kỳ nghỉ gia đình, một chuyến đi lãng mạn, hay một hành trình khám phá solo, VietHomeAir luôn đồng hành cùng bạn, biến mỗi chuyến đi trở thành một kỷ niệm khó quên.</p>

            <strong>VietHomeAir – Điểm đến của những trải nghiệm chân thật và yêu thương.</strong>
        </div>
    </div>
{% endblock content %}