{% extends 'base.html' %}
{% load bnb_info_filter %} {# Load webfilter sử dụng #}
{% load static %}

{% block title %}
    <title>{{ bnb.name }} - VietHomeAir</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/bnb-information.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock stylesheet %}
{% block header_scripts %}
    {#  Thư viện momentjs để dùng daterangepickerjs  #}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    {#  Thư viện daterangepickerjs  #}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/15.0.4/marked.min.js"
            integrity="sha512-VmLxPVdDGeR+F0DzUHVqzHwaR4ZSSh1g/7aYXwKT1PAGVxunOEcysta+4H5Utvmpr2xExEPybZ8q+iM9F1tGdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock header_scripts %}
{% block content %}
    <section class="container p-4">
        <div class="row">
            <h2 class="col-9 ps-4 mb-2">{{ bnb.name }}</h2>
            <div class="col-3 d-flex justify-content-end px-3">
                <span class="mx-3 cursor-pointer" id="share-btn"><i class="fa-solid fa-arrow-up-from-bracket"></i> Chia sẻ
                </span>
                <span class="mx-3 cursor-pointer" id="wishlist-btn"><i class="fa-regular fa-bookmark"></i> Lưu</span>
            </div>
        </div>
        <div class="row" style="height: 30rem">
            <div class="col-6 product-images" style="height: 100%">
                <img style="width: 100%; height: 100%; object-fit: cover" src="{{ bnb.images.0 }}" alt="">
            </div>
            <div class="col-6 d-flex flex-column justify-content-between product-other-images" style="height: 100%">
                <div class="row mb-1" style="height: 50%">
                    <img class="col-6 px-1" src="{{ bnb.images.1 }}" alt="">
                    <img class="col-6 px-1 product-other-images__top-right" src="{{ bnb.images.2 }}"
                         alt="">
                </div>
                <div class="row mt-1" style="height: 50%">
                    <img class="col-6 px-1" src="{{ bnb.images.3 }}" alt="">
                    <img class="col-6 px-1 product-other-images__bottom-right"
                         src="{{ bnb.images.4 }}" alt="">
                </div>
            </div>

        </div>
        <hr/>

        <div class="row">
            <div class="col-8">
                <div class="mt-4">
                    <h4 class="mb-4">Mô tả về chỗ ở:</h4>
                    <div id="description-display"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="rounded p-4 border border-black border-1">
                    <p class="mb-1">Giá thuê nhà:</p>
                    <h4>{{ bnb.prices.default_price }} VNĐ/ đêm</h4>
                    <hr/>
                    <div id="booking-info">
                        <div class="row px-2 my-2">
                            <div class="col-6 px-0">
                                <div class="p-1 mx-1 border border-1 border-black rounded">
                                    <label style="font-size: 12px">Nhận phòng
                                        <input class="px-1 w-100 border-0 h6 fw-normal" type="text" name="checkin-date"
                                               id="checkin-date">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 px-0">
                                <div class="p-1 mx-1 border border-1 border-black rounded">
                                    <label style="font-size: 12px">Trả phòng
                                        <input class="px-1 w-100 border-0 h6 fw-normal" type="text" name="checkout-date"
                                               id="checkout-date">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row px-2 my-2">
                            <div class="col-12 p-0">
                                <div class="p-1 mx-1 border border-1 border-black rounded ">
                                    <label class="w-100" style="font-size: 12px">Số lượng khách
                                        <input class="px-1 w-100 border-0 h6 fw-normal" type="number" name=""
                                               id="booking-capacity"
                                               min="1" max="{{ bnb.capacity }}" value="1">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button mt-3 p-3 w-100 rounded h5 border-0 main-cta-button" id="booking-btn">
                        Đặt phòng
                    </button>
                    <hr/>
                    <div>
                        <div class="d-flex justify-content-between">
                            <p class="my-1">
                                <span id="bnb-base-price">{{ bnb.prices.default_price }}</span> VNĐ x
                                <span id="booking-length"></span> đêm:
                            </p>
                            <span class="fw-semibold" id="bnb-price">
                                {{ bnb.prices.base_bnb_price }} VNĐ
                            </span>
                        </div>
                        <p class="d-flex my-1 justify-content-between">Phí dịch vụ:<span class="fw-semibold"
                                                                                         id="bnb-service-fee">70.000 VNĐ</span>
                        </p>
                        <hr/>
                        <p class="my-1 h5 fw-normal d-flex justify-content-between">Tổng tiền: <span
                                class="h4 fw-semibold" id="bnb-total-price">{{ bnb.prices.final_bnb_price }} VNĐ</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="my-4">
                <hr/>
                <h4>Ngoài ra, chỗ ở vẫn còn ...</h4>
                <div class="row mt-4">
                    <div id="service-bnb"></div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <h4>Gặp gỡ chủ nhà </h4>
                <div class="my-4 col-4 " style="width: 30% !important;">
                    <div class="rounded-4 row p-4 cursor-pointer" id="owner-bnb-info"
                         onclick="window.location = '/owner/{{ bnb.owner.id }}'">
                        <div class="col-9 d-flex flex-column justify-content-center align-items-center">
                            <img class="text-center display-4 rounded-circle" src="{{ bnb.owner.avatar }}" alt=""
                                 width="80px" height="80px">
                            <h4 class="my-2 text-center">{{ bnb.owner.fullname }}</h4>
                        </div>
                        <div class="col">
                            <h5 class=" m-0">0</h5>
                            <p style="font-size: 14px" class="">Đánh giá</p>
                            <hr>
                            <h5 class=" m-0">0 ☆</h5>
                            <p style="font-size: 14px" class=" m-0">Xếp hạng</p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h5>Thông tin của chủ nhà</h5>
                        <div id="owner-description"></div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col-7 p-4">
                    <div class="mb-5">
                        <h5>{{ bnb.owner.fullname }} là {{ bnb.owner_general_review.title }}!</h5> {# Cây quyết định #}
                        <p>{{ bnb.owner_general_review.description }}</p>
                    </div>
                    <div class="mb-5">
                        <h5>Liên hệ với chủ nhà</h5>
                        <p class="my-1">Thông qua số điện thoại</p>
                        <p class="my-1">Thông qua email</p>
                        <p class="mt-3" style="font-size: 12px">Bạn cần đăng nhập để có thể thấy thông tin liên hệ</p>
                    </div>
                </div>
            </div>
            <div id="comment-component">
                <form method="post" id="upload-comment-form" class="row">
                    <hr/>
                    {% csrf_token %}
                    <h4>Đánh giá của bạn</h4>
                    <div class="col-2">
                        <p class="text-center mt-3 my-1">Hạy chọn số sao bạn muốn đánh giá</p>
                        <div class="text-center my-3">
                            <span id="review-current-star" class="h3">0.0</span>/<span class="h5 fw-normal">5.0</span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ms-1 h5 fa-regular fa-star comment-star-icon"></i>
                            <i class="ms-1 h5 fa-regular fa-star comment-star-icon"></i>
                            <i class="ms-1 h5 fa-regular fa-star comment-star-icon"></i>
                            <i class="ms-1 h5 fa-regular fa-star comment-star-icon"></i>
                            <i class="ms-1 h5 fa-regular fa-star comment-star-icon"></i>
                        </div>
                        <p class="mt-3 mb-2 text-center" id="review-notice"
                           style="color: var(--highlight-button-color)"></p>
                    </div>
                    <div class="col-8 p-4 pt-3">
                        <label class="w-100">
                        <textarea style="resize: none" class="form-control rounded p-3 w-100"
                                  placeholder="Đánh giá của bạn về nhà cho thuê này" name="your-review"
                                  id="review-content"
                                  rows="5"></textarea>
                        </label>
                        <p class="text-center mt-1 mb-0" style="font-size: 12px">
                            (Bạn cần đăng nhập và checkout nhà cho thuê này để có thể bình luận)
                        </p>
                    </div>
                    <div class="col d-flex align-items-center">
                        <button id="submit-comment-form"
                                class="border-0 py-3 px-4 h6 main-cta-button rounded">Gửi
                        </button>
                    </div>
                </form>
            </div>
            <hr/>
            {# Chỗ này dành cho comment #}
            <div class="my-4">
                <h4 class="mb-4"><i class="fa-solid fa-star"></i> {{ bnb.rating_reviews.avg_rating }}/5
                    · {{ bnb.reviews|length }} lượt đánh giá</h4>
                <div class="row">
                    <div class="col-3 border-1 border-end">
                        <p class="fw-semibold">Xếp hạng tổng thể</p>
                        <div class="me-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    :
                                </div>
                                <div>
                                    {# Tạm thời #}
                                    <span>{{ bnb.rating_reviews.count_rating.4 }} đánh giá</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    :
                                </div>
                                <div>
                                    <span>{{ bnb.rating_reviews.count_rating.3 }} đánh giá</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    :
                                </div>
                                <div>
                                    <span>{{ bnb.rating_reviews.count_rating.2 }} đánh giá</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    :
                                </div>
                                <div>
                                    <span>{{ bnb.rating_reviews.count_rating.1 }} đánh giá</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    <i class="ms-1 fa-regular fa-star"></i>
                                    :
                                </div>
                                <div>
                                    <span>{{ bnb.rating_reviews.count_rating.0 }} đánh giá</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p class="fw-semibold ps-3">Phân loại bình luận</p>
                        <div class="row">
                            <div class="col border-1 border-end ps-5 py-4">
                                <p class="my-1">Tích cực</p>
                                <h5 class="fw-semibold">{{ bnb.sentiment_reviews.pos_reviews.amount }} bình luận</h5>
                                <button id="filter-positive-review" class="button rounded mt-3">Xem bình luận</button>
                            </div>
                            <div class="col ps-5 py-4">
                                <p class="my-1">Tiêu cực</p>
                                <h5 class="fw-semibold">{{ bnb.sentiment_reviews.neg_reviews.amount }} bình luận</h5>
                                <button id="filter-negative-review" class="button rounded mt-3">Xem bình luận</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <p id="filter-text" class="d-none">Bạn đang xem các bình luận
                    <span id="filter-label" class="fw-semibold"></span>.
                    <span id="unfilter-review" style="cursor: pointer" class="text-decoration-underline">
                            Hiển thị tất cả
                        </span>
                </p>
                <div class="row" id="review-display">
                    {% for review in bnb.reviews %}
                        <div class="col-6 comment-component">
                            <div class="rounded-4 row p-1">
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <img class="text-center display-4 rounded-circle"
                                         src="{{ review.review_obj.account.avatar }}"
                                         alt="" width="80px" height="80px">
                                </div>
                                <div class="col d-flex align-items-center">
                                    <p style="font-size: 18px"
                                       class="fw-semibold m-0">{{ review.review_obj.account.fullname }}</p>
                                </div>
                            </div>
                            <div class="row">
                                {{ review.display_content|safe }}
                            </div>
                            <div class="row comment-component__content my-2">
                                <p>
                                    {{ review.review_obj.content }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr/>
            <div>
                <h4>Nội quy chỗ ở</h4>
                <p style="font-size: 14px">(Liên hệ chủ nhà để biết thêm chi tiết)</p>
                <div class="row mt-5">
                    <div class="col">
                        <h5 class="mb-2">Thời gian check-in và check-out</h5>
                        {% for rule in bnb.rules.checkin %}
                            <p class="my-1">{{ rule }}</p>
                        {% endfor %}
                        {% for rule in bnb.rules.checkout %}
                            <p class="my-1">{{ rule }}</p>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <h5 class="mb-2">Trong lúc thuê nhà</h5>
                        {% for rule in bnb.rules.secure %}
                            <p class="my-1">{{ rule }}</p>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <h5 class="mb-2">Chính sách hoàn trả</h5>
                        {% for rule in bnb.rules.refund %}
                            <p class="my-1">{{ rule }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <h5 class="mb-2">Nội quy khác (nếu có)</h5>
                    {% for rule in bnb.rules.other %}
                        <p class="my-1">{{ rule }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="container p-4">
        <hr/>
        <h4 class="mb-4">Và đây là các nhà cho thuê tương tự!</h4>
        <div class="row gap-4 justify-content-center">
            {% for bnb in other_bnb %}
                <div class="p-0 card-item rounded" onclick="window.location.href='/rooms/{{ bnb.id }}'">
                    <div>
                        <img class="col-12 rounded"
                             src="{{ bnb.thumbnail }}"
                             alt="...">
                    </div>
                    <div class="p-2">
                        <h5 class="mb-0 text-truncate ol-12">{{ bnb.name }}</h5>
                        <div class="mt-1">
                            <span style="font-size: 14px"><i
                                    class="fa-solid fa-star main-color"></i> {{ bnb.avg_rating }}/5</span>
                        </div>
                        <p class="mt-1 mb-2">Chủ nhà: {{ bnb.owner }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row" id="maps-content">
        </div>
    </section>

{% endblock content %}
{% block scripts %}
    {{ bnb.booking|json_script:'booking-data' }}
    <script>
        $("#wishlist-btn").click(function () {
            {% save_bnb_to_wishlists request.session bnb.id as wishlist %}
        })
    </script>
    <script src="{% static 'scripts/product.js' %}"></script>

    <script type="module">
        const list_available_range = JSON.parse($("#booking-data").text())
        const default_range = list_available_range[0]
        $("#checkin-date").attr("placeholder", default_range.check_in)
        $("#checkout-date").attr("placeholder", default_range.check_out)
        $("#booking-length").text(default_range.range_length)


        function isInValidRanges(date) {
            for (let i = 0; i < list_available_range.length; i++) {
                const start = moment(list_available_range[i].check_in);
                const end = moment(list_available_range[i].check_out);
                if (date.isBetween(start, end, null, '[]')) {
                    return false; // Nếu ngày nằm trong một khoảng thời gian hợp lệ
                }
            }
            return true; // Ngày không hợp lệ nếu không nằm trong bất kỳ khoảng nào
        }

        $(function () {
            $('#checkin-date, #checkout-date').daterangepicker({
                startDate: moment(list_available_range[0].check_in),
                endDate: moment(list_available_range[0].check_out),
                minDate: moment().startOf('day'),
                opens: 'left',
                autoUpdateInput: false,
                locale: {
                    format: 'YYYY-MM-DD',
                },
                isInvalidDate: function (date) {
                    return isInValidRanges(date)
                }
            });

            $('#checkin-date').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD'));
                $('#checkout-date').val(picker.endDate.format('YYYY-MM-DD'));
                recalculatePrice($("#bnb-base-price").text(), picker.endDate.diff(picker.startDate, "days") + 1)
            });

            $('#checkout-date').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.endDate.format('YYYY-MM-DD'));
                $('#checkin-date').val(picker.startDate.format('YYYY-MM-DD'));
                recalculatePrice($("#bnb-base-price").text(), picker.endDate.diff(picker.startDate, "days") + 1)

            });
        });

        function recalculatePrice(priceStr, dateDiff) {
            const formattedPrice = parseInt(priceStr.trim().replaceAll("VNĐ", "").replaceAll(".", ""))
            const bookingPrice = formattedPrice * dateDiff
            const finalPrice = bookingPrice + 70000
            $("#booking-length").text(dateDiff)
            $("#bnb-price").text(modifyPriceValue(bookingPrice))
            $("#bnb-total-price").text(modifyPriceValue(finalPrice))
        }

        function modifyPriceValue(price) {
            const priceString = price + ""
            let result = ""
            if (price < 1000) return priceString + " VNĐ"
            else {
                let cursor = priceString.length
                while (Math.trunc(price / 1000) > 0) {
                    result = "." + priceString.substring(cursor - 3, cursor) + result
                    cursor -= 3
                    price /= 1000
                }
                result = priceString.substring(cursor - 3, cursor) + result
                return result + " VNĐ"
            }
        }
    </script>

    <script type="module">

        $(document).ready(() => {
            $("#description-display").html(marked.parse(`{{ bnb.description|escapejs }}`))
            $("#service-bnb").html(marked.parse(`{{ bnb.services|escapejs }}`))
            $("#owner-description").html(marked.parse(`{{ bnb.owner.description|escapejs }}`))
            {#'{{ userid|current_user:request.session }}' === 'None' || #}
            {# Cần đẩy lên html để bảo mật #}
            {% user_review_status request.session bnb.id as review_status %}
            {% if review_status %}
                $("#upload-comment-form").removeClass('d-none')
                $("#upload-comment-form button").attr("disabled", false)

            {% else %}
                $("#upload-comment-form").addClass('d-none')
                $("#upload-comment-form button").attr("disabled", true)
            {% endif %}
        })

        function filterReview(sentiment_type) {
            let filterLabel = ""
            switch (sentiment_type) {
                case "positive":
                    filterLabel = "Tích cực";
                    break;
                case "negative":
                    filterLabel = "Tiêu cực";
                    break;
                default:
                    filterLabel = ""
            }

            $.ajax({
                url: '{{ request.path }}',
                method: 'GET',
                data: {
                    'sentiment_type': sentiment_type
                },
                success: function (response) {
                    let reviewContents = '';
                    if (sentiment_type !== "all") {
                        $("#filter-text").removeClass("d-none");
                        $("#filter-label").text(filterLabel);
                    } else $("#filter-text").addClass("d-none");
                    $.each(response.reviews, function (index, review) {
                        reviewContents += `
                            <div class="col-6 comment-component">
                            <div class="rounded-4 row p-1">
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <img class="text-center display-4 rounded-circle"
                                         src="${review.avatar}"
                                         alt="" width="80px" height="80px">
                                </div>
                                <div class="col d-flex align-items-center">
                                    <p style="font-size: 18px"
                                       class="fw-semibold m-0">${review.fullname}</p>
                                </div>
                            </div>
                            <div class="row">
                                ${review.rating_content}
                            </div>
                            <div class="row comment-component__content my-2">
                                <p>
                                    ${review.content}
                                </p>
                            </div>
                        </div>`
                    });
                    $('#review-display').html(reviewContents);  // Cập nhật lại danh sách bình luận
                }
            })
        }

        $("#filter-positive-review").click(function () {
            filterReview('positive')
        })
        $("#filter-negative-review").click(function () {
            filterReview('negative')
        })
        $("#unfilter-review").click(function () {
            filterReview('all')
        })

        $("#booking-btn").click(function () {
            const checkinDate = $("#checkin-date").val() ? $("#checkin-date").val() : $('#checkin-date').attr('placeholder')
            const checkoutDate = $("#checkout-date").val() ? $("#checkout-date").val() : $('#checkout-date').attr('placeholder')
            window.location = `/book?bnbid={{ bnb.id }}&checkin=${checkinDate.trim()}&checkout=${checkoutDate.trim()}&capacity=${$('#booking-capacity').val()}`
        })

        $("#submit-comment-form").click(function (e) {
            e.preventDefault();
            //Validate các thành phần
            console.log(parseFloat($("#review-current-star")) === 0.0 || $("#review-content").val() === "")
            if (parseFloat($("#review-current-star")) === 0.0 || $("#review-content").val() === "") {
                $("#review-notice").text("Bạn cần nhập đủ thông tin để có thể gửi bình luận")
            } else {
                const userId = '{{ userid|current_user:request.session }}'
                //Gửi ajax
                $.ajax({
                    url: '{{ request.path }}',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': getCSRFToken()
                    },
                    data: {
                        rating: parseFloat($("#review-current-star").text()),
                        content: $("#review-content").val(),
                        accountId: userId === 'None' ? null : parseInt(userId),
                        bnbId: '{{ bnb.id }}'
                    },
                    success: function (response) {
                        if (response.result) {
                            const notice = $("#review-notice").css('color', 'var(--text-color)')
                            notice.text("Bình luận của bạn đã gửi thành công! Bình luận cần thời gian phê duyệt để có thể hiển thị.")
                        } else {
                            $("#review-notice").text("Có lỗi khi gửi bình luận của bạn, hãy gửi lại sau")
                        }
                        return false
                    },
                    error: function (response) {
                        $("#review-notice").text("Có lỗi khi gửi bình luận của bạn, hãy gửi lại sau")
                        return false
                    }
                })
            }
        })

        function getCSRFToken() {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === 'csrftoken=') {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

{#    <script async#}
{#            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGHGpgbIxz5vx-WwpHd6Vh7X11k3AKUK4&loading=async&callback=initMap">#}
{#    </script>#}
    
{#    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})#}
{#        ({key: "", v: "weekly"});</script>#}
{#    <script>#}
{#        const baseLat = '{{ bnb.location.lat }}'#}
{#        const baseLon = '{{ bnb.location.lon }}'#}
{#        let bnbMaps#}
{##}
        {#async function initMap() {#}
        {#    bnbMaps = new google.maps.Map($("#maps-content"), {#}
        {#        center: {lat: parseFloat(baseLat), lng: parseFloat(baseLon)},#}
        {#        zoom: 12,#}
        {#    })#}
        {##}
        {#    const listInfo = getSimilarBnbMapInfo()#}
        {#    for (const info of listInfo) {#}
        {##}
        {#    }#}
        {# } #}
{##}
{#        async function initMap() {#}
{#            // Request needed libraries.#}
{#            const {Map} = await google.maps.importLibrary("maps");#}
{#            const {AdvancedMarkerElement} = await google.maps.importLibrary("marker");#}
{#            const map = new Map(document.getElementById("maps-content"), {#}
{#                center: {lat: parseFloat(baseLat), lng: parseFloat(baseLon)},#}
{#                zoom: 14,#}
{#                mapId: "22fd4769f0ef2d7d",#}
{#            })#}
{#            const priceTag = document.createElement("div");#}
{##}
{#            priceTag.className = "price-tag";#}
{#            priceTag.textContent = "$2.5M";#}
{##}
{#            const marker = new AdvancedMarkerElement({#}
{#                map,#}
{#                position: {lat: 37.42, lng: -122.1},#}
{#                content: priceTag,#}
{#            });#}
{#        }#}
{##}
{#        initMap();#}
{##}
{##}
{#        function getSimilarBnbMapInfo() {#}
{#            const result = [#}
{#                {% for bnb in other_bnb %}#}
{#                    {#}
{#                        price: '{{ bnb.price }} VNĐ',#}
{#                        lat: parseFloat('{{ bnb.location.lat }}'),#}
{#                        lon: parseFloat('{{ bnb.location.lon }}')#}
{#                    },#}
{#                {% endfor %}]#}
{#            return result#}
{#        }#}
{##}
{#        initMap()#}
{#        const info = getSimilarBnbMapInfo()#}
        {#console.log(info)#}
{#    </script>#}
{% endblock scripts %}
