{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Trang chủ - VietHomeAir</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}">
{% endblock stylesheet %}

{% block content %}
    <section class="container p-4">
        <h3>Nhà nghỉ dưỡng cho thuê được đánh giá cao nhất</h3>
        <p style="color: var(--sub-cta-color)">Những nơi ai cũng đồng ý về chất lượng dịch vụ hàng đầu</p>
        <div class="row gap-4 grid">
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                    <p></p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container p-4">
        <h3>Nhà nghỉ dưỡng có tour du lịch phổ biến nhất</h3>
        <p style="color: var(--sub-cta-color)">Không chỉ là nhà nghỉ dưỡng, mà còn là những trải nghiệm du lịch tuyệt
            vời</p>
        <div class="row gap-3 grid">
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
            <div class="p-0 col card">
                <img class="  card-img-top col-12"
                     src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI1MzM5MTg5NTY1MDQ1Nzg0NQ%3D%3D/original/bfa891d1-ce3a-447c-91c4-336274f81f44.jpeg?im_w=1200&im_format=avif"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biệt thự tại Hội An</h5>
                    <p class="card-text">Chủ nhà: NguyenThiD</p>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
{% endblock scripts %}