{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Đăng nhập</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock stylesheet %}


{% block content %}
     <div class="container-login container">
        <div class="form-container-login sign-up">
            <form>
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon-login"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon-login"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon-login"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon-login"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button class="btn-sign-up">Sign Up</button>
            </form>
        </div>
        <div class="form-container-login sign-in">
            <form class="form-container-login-sign-in">
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Forget Your Password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="toggle-container-login">
            <div class="toggle-login">
                <div class="toggle-panel-login toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button id="login">Sign In</button>
                </div>
                <div class="toggle-panel-login toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{#    <script src="{% static 'scripts/product.js' %}"></script>#}
{% endblock scripts %}