{% extends 'base.html' %}
{% load bnb_info_filter %}
{% load static %}

{% block title %}
    <title>{{ userinfo.username }} - VietHomeAir</title>
{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static "style/user.css" %}>
    <script>
        const userId = '{{ userid|current_user:request.session }}'
        if (userId === 'None') {
            window.location = '/'
        }
    </script>
{% endblock stylesheet %}
{% block content %}
    <div class="row container mx-auto">
        <div class="col-4 me-4">
            <div class="row p-4 card-container user-info ">
                <div class="col-5 me-4 text-center user-avt">
                    <img src="{{ userinfo.avatar }}" class="row user-img">
                    <i class="bi bi-patch-check"></i>
                    <div class="row user-name h5 py-2">{{ userinfo.username }}</div>
                </div>
                <div class="col">
                    <div class="row reviews border-bottom my-2">
                        <div class="row h5">32</div>
                        <h6 class="row">Đánh giá</h6>
                    </div>
                    <div class="row reviews border-bottom">
                        <h6 class="m-0 p-0">Là thành viên thứ: <span class="h5">{{ userinfo.id }}</span></h6>
                    </div>
                </div>
            </div>
            <div class="row mt-4 p-4 card-container user-properties">
                <div id="user-information" class="row content-property">
                    <div class="col-1"><i class="fa-solid fa-user"></i></div>
                    <div class="col">Thông tin</div>
                </div>
                <div id="order-history" class="row mt-3 content-property">
                    <div class="col-1"><i class="fa-solid fa-house"></i></div>
                    <div class="col">Lịch sử đặt thuê</div>
                </div>
                {#                <div id="viewed-history" class="row mt-3 content-property">#}
                {#                    <div class="col-1"><i class="fa-solid fa-eye"></i></div>#}
                {#                    <div class="col">Lịch sử xem</div>#}
                {#                </div>#}
                {#                <div id="review-history" class="row mt-3 content-property">#}
                {#                    <div class="col-1"><i class="fa-solid fa-pen"></i></div>#}
                {#                    <div class="col">Lịch sử đánh giá</div>#}
                {#                </div>#}
                <div id="wishlist" class="row mt-3 content-property">
                    <div class="col-1"><i class="fa-solid fa-heart"></i></div>
                    <div class="col">Danh sách yêu thích</div>
                </div>
                <div id="logout" class="row mt-3 cursor-pointer">
                    <div class="col-1"><i class="bi bi-arrow-bar-left"></i></div>
                    <div class="col">Đăng xuất</div>
                </div>
            </div>
            <div class="row mt-4 p-4 user-verify card-container">
                <h5>Thông tin đã được xác thực của {{ userinfo.username }}</h5>
                <div class="row">
                    <i class="fa-solid fa-check col-1"></i>
                    <div class="col-11">Email đã được xác thực</div>
                </div>
                <div class="row my-2">
                    <i class="fa-solid fa-check col-1"></i>
                    <div class="col-11">Số điện thoại đã được xác thực</div>
                </div>
                <hr/>
                {#                <div class="row user-license">#}
                {#                    <h5>Xác minh danh tính của bạn</h5>#}
                {#                    <p>Bạn phải hoàn tất bước này trước khi đặt phòng/ đặt chỗ trên VietHomeAir.</p>#}
                {#                    <button class="verify-license">Xác minh</button>#}
                {#                </div>#}
            </div>
        </div>
        <div id="user-content" class="col-7 ps-4 pt-4">
            <div class="w-100 opacity-50 d-flex justify-content-center align-items-center" style="height: 100%">
                <h2 class="main-color text-center fw-semibold">Ủa chưa chọn gì mà?</h2>
            </div>
        </div>
    </div>
    <div id="logout_alert" class="m-10 container">
        <div class="row ps-2"><p>Bạn chắc chắn muốn đăng xuất?</p></div>
        <div class="row pt-5 ps-4 text-center">
            <button id="yesBtn" class="col-5 text-center"><a href="/logout/">Có</a></button>
            <div class="col-2"></div>
            <button id="noBtn" class="col-5 text-center">Không</button>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'scripts/user.js' %}"></script>
{% endblock scripts %}