{% extends 'other_template/base.html' %}
{% load static %}

{% block title %}
    <title>Chính sách - VietHomeAir</title>
{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static "style/user-owner-bnb.css" %}>
{% endblock stylesheet %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Thông tin về chủ nhà</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="container mx-auto">
        <div class="col-4 me-4">
            <div class="row p-4 card-container ">
                <div class="col-5 me-4 text-center owner-avt">
                    <img src="../static/image/error_image/error500.jpg" class="row owner-img">
                    <i class="bi bi-patch-check"></i>
                    <div class="row owner-name h5 ps-4 py-2">Lôi</div>
                </div>
                <div class="col-6">
                    <div class="row reviews border-bottom">
                        <div class="row h5">96</div>
                        <h6 class="row">Đánh giá</h6>
                    </div>
                    <div class="row rate border-bottom pt-2">
                        <div class="row h5">4,83</div>
                       <div class="row p-0">
                           <i class="col-2 bi bi-star-fill"></i>
                           Xếp hạng</div>
                    </div>
                    <div class="row experiences pt-2">
                        <div class="row h5">3</div>
                        <div class="row">
                            năm kinh nghiệp đón tiếp khách
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4 owner-verify">
                
            </div>
        </div>
        <div class="col-7 ms-2">

        </div>
    </div>
{% endblock content %}