{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">

    {# Thêm cusomize title cho web #}
    {% block title %}<title>VietHomeAir</title>{% endblock title %}
    {# Thêm customize css #}
    {% block stylesheet %}{% endblock stylesheet %}
    {# Thêm header js (nếu cần) #}
    {% block header_scripts %}{% endblock header_scripts %}

    <script src="https://kit.fontawesome.com/2643e782c1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<header class="container p-3">
    <div class="row px-3">
        <div class="col-1 d-flex flex-column align-items-center" id="web-logo">
            <i class="fa-brands fa-google-wallet"></i>
            <span class="h6">VietHomeAir</span>
        </div>
        <div class="col-1"></div>
        <div class="col-7 text-white d-flex align-items-center">
            <div class="input-group">
                <span class="input-group-text fas d-flex align-items-center" style="color: #56595C">&#xf002 </span>
                <input type="search" name="search" id="" class="form-control" placeholder="Tìm kiếm địa điểm, tên nhà, ...">
            </div>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="header-function mx-2 cursor-pointer default-btn-style ">
                <div class="d-flex justify-content-center">
                    <i class="fa-solid fa-map-pin"></i>
                </div>
                <p class="">Tour du lịch</p>
            </div>
            <div class="header-function mx-2 cursor-pointer default-btn-style position-relative">
                <div class="d-flex justify-content-center">
                    <i class="fa-solid fa-map-location-dot"></i>
                </div>
                <p class="">Bản đồ</p>
            </div>
            <div class="header-function mx-2 cursor-pointer default-btn-style ">
                <div class="d-flex justify-content-center">
                    <i class=" fa-solid fa-arrow-right-to-bracket"></i>
                </div>
                <p class="">Đăng nhập</p>
            </div>
        </div>
    </div>
    <hr/>
</header>
{% block content %}{% endblock content %} {# Phần body #}
<footer class="container mt-5">
    <hr/>
    <div class="row p-2">
        <div class="col-3">
            <h6>VietHomeAir, 2024</h6>
            <p class="my-2"><i class="fa-solid fa-location-dot"></i> Khu phố 6, phường Linh Trung, TP.Thủ Đức, Thành phố
                Hồ Chí Minh,
                Việt Nam
            </p>
            <p class="my-2"><i class="fa-solid fa-envelope"></i> hehehehe@gmail.com</p>
        </div>
        <div class="col-3">
            <h5 class="mb-2">Về VietHomeAir</h5>
            <p class="my-2"><a class="default-btn-style" href="/public"> Trợ giúp</a></p>
            <p class="my-2"><a class="default-btn-style" href="/public"> Về chúng tôi</a></p>
        </div>
        <div class="col-3">
            <h5 class="mb-2">Hỗ trợ</h5>
            <p class="my-2"><a class="default-btn-style" href="/privacy/"> Quyền riêng tư</a></p>
            <p class="my-2"><a class="default-btn-style" href="/terms-of-use/"> Điều khoản sử dụng</a></p>
            <p class="my-2"><a class="default-btn-style" href="/policy/"> Chính sách</a></p>
        </div>

        <div class="col-3">
            <h5 class="mb-2">Theo dõi chúng tôi ở</h5>
            <p class="my-2"><i class="fa-brands fa-facebook"></i> <a class="default-btn-style" href="#"> Facebook</a>
            </p>
            <p class="my-2"><i class="fa-brands fa-instagram"></i> <a class="default-btn-style" href="#"> Instagram</a>
            </p>
            <p class="my-2"><i class="fa-brands fa-youtube"></i> <a class="default-btn-style" href="#"> Youtube</a></p>
            <p class="my-2"><i class="fa-brands fa-telegram"></i> <a class="default-btn-style" href="#"> Telegram</a>
            </p>
        </div>
    </div>
</footer>
<script src="{% static 'scripts/base.js' %}"></script>
{% block scripts %}{% endblock scripts %} {# Thêm customize js #}
</body>
</html>