.card-item {
    width: calc(100%/3 - 1.5rem);
    cursor: pointer;
    height: 60%
}
.card-item img {
    height: 70%;
    object-fit: cover;
    aspect-ratio: 15/ 16;
}

#category-display {
    overflow-x: hidden;
    overflow-y: auto;
    height: 80vh;
}