.card-item {
    /*background-color: #fff;*/
    /*border: solid var(--sub-cta-color-hover) 1px;*/
    width: calc(20% - 1.5rem);
    height: 25rem;
    cursor: pointer;
    /*box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.1);*/
}
.card-item img {
    height: 70%;
    object-fit: cover;
    aspect-ratio: 15/ 16;
}

.card-text__description {
}

.landing-logo * {
    color: var(--logo-icon-color);
    user-select: none;
}

.landing-logo i {
    font-size: 100px;
}

.category-item {
    font-size: 1rem;
}

#landing-section {
    box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    margin-bottom: 5rem !important;
}

#landing-info * {
    color: var(--web-background-color);
}

#landing-image {
    filter: brightness(0.3);
    overflow: hidden;
}

#landing-image img {
    object-fit: cover;
    height: 40rem;
}