:root {
    --web-background-color: #f5f5f5;
    --text-color: #000b0e;
    --text-color-hover: #777777;
    --sub-text-color: #888888;
    --sub-text-color-hover: #bbbbbb;
    --main-cta-color: #688bb3;
    --main-cta-color-hover: #78a2c0;
    --sub-cta-color: #555555;
    --sub-cta-color-hover: #aaaaaa;
    --logo-icon-color: #5874a5;
    --highlight-button-color: #c86f46;
    --highlight-button-color-hover: #e78b5e;
}

.cursor-pointer {
    cursor: pointer;
}

.main-color {
    color: var(--main-cta-color);
}

.text-color {
    color: var(--text-color);
}

.sub-text-color {
    color: var(--sub-text-color);
}

.default-btn-style {
    color: var(--text-color);
}

.default-btn-style:hover {
    color: var(--text-color-hover);
}

.main-cta-button {
    background-color: var(--main-cta-color);
    color: var(--web-background-color);
}

.main-cta-button:hover {
    background-color: var(--main-cta-color-hover);
}

.main-cta-button:disabled, .main-cta-button[disabled=disabled] {
    background-color: #79aec8 !important;
}

.sub-cta-button {
    border: solid var(--text-color) 1px;
    color: var(--text-color);
    background-color: var(--web-background-color);
}

.sub-cta-button:hover {
    background-color: #eeeeee;
}

.sub-cta-button:disabled, .sub-cta-button[disabled=disabled] {
    background-color: #777777 !important;
}