li{
    list-style-type: none;
}
button{
    border:none;
}
#filter{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--logo-icon-color);
    color:var(--web-background-color);
}
.on p,.on i{
    font-weight: bold;
}
#filter-container{
    background-color: var(--main-cta-color-hover);
    width:750px;
    left: 25%;
    top: 12px;
}
.arrow-interact{
    height: 50px;
}
.arrow-interact>input{
    border-radius: 5px;
}
.group button{
    height: 40px;
}

/*Card*/
.service-item{
    width: 100px;
    height: 265px;
}
.card-img{
    height: 60%;
    object-fit: cover;
    aspect-ratio: 15/ 16;
}
.card-title{
    color:var(--main-cta-color);
    font-weight: bold;
}
.bi-star-fill{
    color: var(--logo-icon-color);
}
#scrollLeft,#scrollRight{
    border-radius: 50%;
    height: 50%;
    width: 50px;
    color:var(--text-color-hover);
}
.categories i,.categories p{
    color: var(--sub-cta-color);
}
.list-services .card-item{
    width: calc(20% - 1.5rem);
    height: 25rem;
    border:solid 2px var(--main-cta-color);
}