li{
    list-style-type: none;
}
button{
    border:none;
}
.h1,.h2,.h3,.h4,.h5{
    color: var(--logo-icon-color);
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối */
    visibility: hidden;
    opacity: 0.75; /* Ẩn lớp overlay mặc định */
    transition: opacity 0.5s ease; /* Hiệu ứng chuyển đổi mượt */
}
#filter{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--logo-icon-color);
    color:var(--web-background-color);
}
.on p,.on i{
    font-weight: bold;
}
#filter-container{
    background-color: var(--web-background-color);
    border: solid 1px var(--logo-icon-color);
    width:750px;
    left: 25%;
    top: 12px;
    z-index: 1;
}
#filter-container .group-properties .select-option{
    background-color: var(--web-background-color);
    border: solid 1px var(--logo-icon-color);
}
#filter-container .group-properties .active{
    background-color: var(--logo-icon-color);
    color: var(--web-background-color);
}
#filter-container .group-properties .active >i{
    color: var(--web-background-color);
}
.arrow-interact{
    height: 50px;
}
.arrow-interact>input{
    border-radius: 5px;
}
.group-properties button{
    height: 40px;
    border-radius: 5px;
}
.btn-action button{
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
}
.btn-action .remove-filter{
    background-color: var(--web-background-color);
    color: var(--main-cta-color);
    border: solid 1px var(--main-cta-color);
}
.btn-action .add-filter{
    background-color: var(--main-cta-color) ;
    color: var(--web-background-color);
}
/*Card*/
.service-item {
    /*background-color: #fff;*/
    /*border: solid var(--sub-cta-color-hover) 1px;*/
    width: calc(20% - 1.5rem);
    height: 25rem;
    cursor: pointer;
    /*box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.1);*/
}
.service-item img {
    height: 70%;
    object-fit: cover;
    aspect-ratio: 15/ 16;
}
.bi-star-fill{
    color: var(--logo-icon-color);
}
#scrollLeft,#scrollRight{
    border-radius: 50%;
    height: 50%;
    width: 50px;
    color:var(--text-color-hover);
}
.categories i,.categories p{
    color: var(--sub-cta-color);
}
.list-services .card-item{
    width: calc(20% - 1.5rem);
    height: 25rem;
    border:solid 2px var(--main-cta-color);
}