:root {
    --web-background-color: #f5f5f5;
    --text-color: #000b0e;
    --text-color-hover: #777777;
    --sub-text-color: #888888;
    --sub-text-color-hover: #bbbbbb;
    --main-cta-color: #688bb3;
    --main-cta-color-hover: #78a2c0;
    --sub-cta-color: #555555;
    --sub-cta-color-hover: #aaaaaa;
    --logo-icon-color: #5874a5;
}

.cursor-pointer {
    cursor: pointer;
}

.main-color {
    color: var(--main-cta-color);
}

.text-color {
    color: var(--text-color);
}

.sub-text-color {
    color: var(--sub-text-color);
}

.default-btn-style {
    color: var(--text-color);
}

.default-btn-style:hover {
    color: var(--text-color-hover);
}