{% extends 'manage_of_owner/base.html' %}
{% load static %}

{% block title %}
    <title>Trang quản lý của chủ nhà - VietHomeAir</title>
{% endblock title %}

{% block sidebar_stylesheet %}{% endblock sidebar_stylesheet %}

{% block sidebar_content %}
    <header class="pb-3">
        <h1 class="h2 text-center">Quản lý BnB</h1>
    </header>

    <!-- Host Information -->
    <section class="mb-4">
        <h2 class="h4">Thông tin chủ nhà</h2>
        <div class="bg-light p-3 rounded">
            <p><strong>Họ và tên:</strong> {{owner.fullname}}</p>
            <p><strong>Email:</strong> {{owner.email}}</p>
            <p><strong>Số điện thoại:</strong> {{owner.phone}}</p>
        </div>
    </section>

    <!-- Room Management -->
    <section class="mb-4">
        <h2 class="h4">Danh sách các phòng</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên Phòng</th>
                <th style="max-width: 300px">Địa Chỉ</th>
                <th>Giá (VNĐ/đêm)</th>
                <th>Hành Động</th>
            </tr>
            </thead>
            <tbody>
            {% for bnb in list_bnb %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{bnb.name}}</td>
                <td style="max-width: 300px">{{bnb.location.name}}</td>
                <td>{{bnb.price}}</td>
                <td>
                    <a class="btn btn-success" href="/owner-management/edit-bnb/id={{bnb.id}}">Chi tiết</a>
                    <button class="btn btn-danger del-btn">Xóa</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock sidebar_content %}